<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user%>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @new_book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <td class="favorite-area">
            <%# 部分テンプレートを呼び出す際に、bookをローカル変数として渡します %>
            <%= render 'books/favorite_btn', book: @book %>
          </td>
          <td>コメント数: <%= @book.book_comments.count %></td>
          <% if @book.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% else %>
            <td></td> 
            <td></td>
          <% end %>
        </tr>
      </table>
      

<h4>コメント</h4>
<%# 修正したコメント一覧の部分テンプレートを呼び出す %>
<%= render 'books/comment_list', book: @book %> 

<%# コメント投稿フォーム %>
<%= form_with model: [@book, @book_comment], remote: true do |f| %>
  <div class="form-group">
    <%# テキストエリアのサイズはCSSで調整されますが、ここでは標準的な設定に %>
    <%= f.text_area :comment, rows: '5', class: "form-control", id: "comment_textarea" %>
  </div>
  <div class="form-group">
    <%= f.submit "送信", class: "btn btn-sm btn-primary" %>
  </div>
<% end %>

    </div>
  </div>
</div>